.pixels{
	font-style: italic;
	color: blue;
	font-variant: normal;
	fo-size:25pxl;
	border-style: solid;
}
p {
	font-size: 24px;
	color: red;
}
.kenya{
	background-image: url("/home/erick/Pictures/2001488.jpg");
}
ol{
	font-size: 23px;
	font-family: fantasy;
	color: blue;
}
h1{
	font-family: inherit;
	text-align: center;
}
